<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .SiteData.Title }} | {{ .BuildData.TimeFormatted }}</title>
    <meta name="description" content="{{ .Pages.BioMD.Text }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles.css" />
    <style>
      :root {
        --amd-font-size-bio-xs: {{ .SiteData.BioFontSizeXs }};
        --amd-font-size-bio-sm: {{ .SiteData.BioFontSizeSm }};
        --amd-font-size-bio-md: {{ .SiteData.BioFontSizeMd }};
        --amd-font-size-bio-lg: {{ .SiteData.BioFontSizeLg }};
        --amd-font-size-bio-xl: {{ .SiteData.BioFontSizeXl }};
      }
    </style>
  </head>
  <body>
    <header id="header-main">
      <label id="btn-less" for="slider">Less</label>
      <input id="slider" type="range" value="3" min="1" max="5" step="0.01" />
      <label id="btn-more" for="slider">More</label>
    </header>
    <main id="main">
      <section id="bio">{{ .Pages.BioMD.HTML }}</section>
      <time class="published" datetime="{{ .BuildData.Time }}">{{ .BuildData.TimeFormatted }}</time>
    </main>
    <template id="bio-xs">{{ .Pages.BioXS.HTML }}</template>
    <template id="bio-sm">{{ .Pages.BioSM.HTML }}</template>
    <template id="bio-md">{{ .Pages.BioMD.HTML }}</template>
    <template id="bio-lg">{{ .Pages.BioLG.HTML }}</template>
    <template id="bio-xl">{{ .Pages.BioXL.HTML }}</template>

    <script src="/script.js"></script>
  </body>
</html>
