@import url('normalize.css');
@import url('fonts.css');

:root {
  --amd-color-text: hsl(0, 0%, 10%);
  --amd-color-bg: hsl(0, 0%, 100%);
  --amd-color-link: rgb(105, 210, 231);
  --amd-color-visited: rgb(167, 219, 216);

  --amd-font-family-primary: 'EB Garamond', 'Georgia', serif;
  --amd-font-family-secondary: 'Panamera', 'Helvetica', sans-serif;

  --amd-font-size-base: calc(75% + 2vw);
  --amd-font-size-bio-xs: 5rem;
  --amd-font-size-bio-sm: 2.5rem;
  --amd-font-size-bio-md: 2rem;
  --amd-font-size-bio-lg: 1.5rem;
  --amd-font-size-bio-xl: 1rem;
}

html {
  font-size: var(--amd-font-size-base);
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--amd-font-family-primary);
  color: var(--amd-color-text);
  background-color: var(--amd-color-bg);
  display: flex;
  flex-direction: column;
}

a {
  color: var(--amd-color-link);
}

a:hover,
a:visited {
  color: var(--amd-color-visited);
}

code {
  font-family: courier, monospace;
  font-size: 0.8rem;
  color: var(--amd-color-visited);
}

header.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input.slider {
  cursor: ew-resize;
  flex-grow: 1;
}

label.btn {
  font-family: var(--amd-font-family-secondary);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
}

.btn-less {
  cursor: zoom-out;
}
.btn-more {
  cursor: zoom-in;
}

main {
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
}

.publish-date {
  cursor: wait;
  text-align: center;
  font-size: 0.6rem;
  padding: 0.75em;
  font-family: var(--amd-font-family-secondary);
  opacity: 0.3;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.bio-container {
  transition: font-size 100ms;
}

.bio-container.bio-xs {
  font-size: var(--amd-font-size-bio-xs);
}

.bio-container.bio-sm {
  font-size: var(--amd-font-size-bio-sm);
}

.bio-container.bio-md {
  font-size: var(--amd-font-size-bio-md);
}

.bio-container.bio-lg {
  font-size: var(--amd-font-size-bio-lg);
}

.bio-container.bio-xl {
  font-size: var(--amd-font-size-bio-xl);
}
